* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    font-family: Arial, Helvetica, sans-serif;
}

.header-navBar {
    background: linear-gradient(90deg,#b066fe, #63e2ff);
    color: #fff;
    padding: 10px 0;
}

.header-navBar p:first-child{
    font-size: 50px;
}

.header-navBar p:nth-child(2){
    font-size: 30px;
}

#body {
    background-image:url("../img/bg.jpg");
    background-size: cover;
}

.tittle {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}

.tittle>p {
    color: black;
    font-size: 32px;
    font-weight: 500;
}

#footer {
    padding: 20px 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
}