
:root {
	--cntc: #f2726a;
}

.profile-main {
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cards {
	width: 300px;
	height: 400px;
    background-color: #242628;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 12px;
    border-radius: 12px;
    transition: 1s;
    overflow: hidden;
}

.cards-mentor {
	margin-top: 40px;
	width: 550px;
	height: 100px;
	padding: 20px;
    background-color: #242628;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 12px;
    border-radius: 12px;
    transition: 1s;
    overflow: hidden;
}

.cards-img {
	height: 112px;
	width: 112px;
	object-fit: cover;
	border-radius: 50%;
	border: 3px solid var(--cntc);
	margin:40px 0;
    transition: 0.25s;
}

.cards-img-mentor {
	height: 112px;
	width: 112px;
	object-fit: cover;
	border-radius: 50%;
	border: 3px solid var(--cntc);
	margin:40px 0;
    transition: 0.25s;
}

.cards-img:hover {
	min-height: calc(100% - 20px);
	min-width: 100%;
	object-fit: cover;
	border: none;
	border-radius: 0;
	position: absolute;
	top: 0;
}


.cards-name {
color: #fff;
font-weight: bold;
font-size: 20px;
text-align: center;
    transition: 0.25s;


}

.cards-decription {
color: var(--cntc);
font-size: 16px;
text-align: center;
margin-top: 5px;
    transition: 0.25s;

}

.cards-contact {
    transition: 0.25s;
	
	display: flex;
	justify-content: center;
}
.cards-contact i{
	display: inline-block;
	color: #fff;
	font-size:16px ;
	transition: 0.25s;
	margin: 15px 20px;
}

.cards-btn {
	padding:10px 10px;
	width: 45%;
	margin-top: 30px;
	border: 1px solid var(--cntc);
	border-radius: 12px;
	color: #fff;
	transition: 0.25s;
}

.cards-contact i:hover {
	color:var(--cntc) ;
	cursor: pointer;
}

.cards-btn:hover {
	background-color:var(--cntc) ;
	cursor: pointer;

}

.cards:hover {
	transform: scale(1.05);
}